@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(Poppins-Bold.ttf);
    font-weight: bold;
}

h1,
h2,
h3 {
    font-family: "Poppins";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background: #3059D5;
    display: grid;
    grid-template-columns: 0fr 4fr;
    grid-template-rows: auto auto auto auto;
    /*header, nav, aside&main, footer */
    gap: 20px;
    /* pevné mezery mezi tabulkami*/

    grid-template-areas:
        "header header"
        "nav nav"
        "aside main"
        "footer footer";
}

/* Mobile*/
@media (max-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        /*header, nav, aside&main, footer */
        gap: 20px;
        /* pevné mezery mezi tabulkami*/

        grid-template-areas:
            "header"
            "nav"
            "aside"
            "main"
            "footer";
    }
}

img {
    max-width: 100%;
    height: auto;
}

/* Umisťuju kam patří*/
header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* Vzhled */
header {
    background-color: #1A275A;
    padding: 20px;
    text-align: center;
    color: #7293FF;
}

nav {
    background-color: #374088;
    padding: 10px;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #636ACF;
    transition: transform .5s, background .5s;
}

nav a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

aside {
    background-color: #27399D;
    color: #7293FF;
    padding: 20px;
    border-radius: 10px;
    /* Zaoblení rohů */
}

main {
    background-color: #2E3487;
    padding: 20px;
    border-radius: 10px;
    color: #7293FF;
}

footer {
    background-color: #1A275A;
    color: #7293FF;
    padding: 20px;
    text-align: center;
}

/* Fake img */
.fakeimg {
    background-color: rgb(141, 153, 165);
    margin: 10px 0;
    height: 120px;
    border-radius: 5px;
}