@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Bold.ttf);
    font-weight: bold;
}

h1,
h2,
h3 {
    font-family: "Poppins";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background: #EFECEB;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto auto auto;
    /*header, nav, aside&main, footer */
    gap: 20px;
    /* pevné mezery mezi tabulkami*/

    grid-template-areas:
        "header header"
        "nav nav"
        "aside main"
        "footer footer";
}

/* Mobile*/
@media (max-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        /*header, nav, aside&main, footer */
        gap: 20px;
        /* pevné mezery mezi tabulkami*/

        grid-template-areas:
            "header"
            "nav"
            "aside"
            "main"
            "footer";
    }
}

img {
    max-width: 100%;
    height: auto;
}

/* Umisťuju kam patří*/
header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* Vzhled */
header {
    background-color: #E1A5A9;
    color: #41A3BE;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #F7D5D6;
    padding: 10px;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #41A3BE;
    transition: transform .5s, background .5s;
}

nav a:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

aside {
    background-color: #731832;
    color: #6EECE8;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    /* Zaoblení rohů */
}

main {
    background-color: #A82350;
    color: #6EECE8;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: #F57892;
    color: #55878E;
    padding: 20px;
    text-align: center;
}

table.Skills {
    border-collapse: collapse;
    border: 1px solid black;
    color: #41A3BE;
}

table.Skills td,
th {
    border: 1px solid black
}

table.Skills tr {
    height: 75px;
}

table.Skills td.prvni {
    width: 70px;
    background-color: #AC7F6F;
    color: #6EECE8;
    text-align: center;
}

table.Skills td.druha {
    background-color: #E0B9A5;
    text-align: center;
}

table.info td.prvni {
    width: 80px;
    font-weight: bold;
}

table.stats td.prvni {
    width: 120px;
    font-weight: bold;
}